php_value  default_charset     "utf-8"
php_value  max_execution_time  30
php_value  memory_limit        512M
php_flag   file_uploads        on
php_value  post_max_size       5M
php_value  upload_max_filesize 5M
php_value  error_reporting     22527
php_value  error_log           /www/log/php_errors.log
php_flag   display_errors      on
php_flag   log_errors          on

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . www/index.php [L]

ErrorDocument 500 www/error.php